:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: coral;
    --tertiary-color: #34d92e;
}
 
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 
body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}
 
body section {
    margin: 0 5px 0 5px;
   
 
}

header {
    padding: none;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
 
header h1 {
font-weight: bold;
font-size: 36px;
color: var(--primary-color);
margin: 0;
text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
 
header a {
text-decoration: none;
color: var(--primary-color);
}
 
header nav {
margin: 7px 0;
}

 
header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;

}
 
header nav ul li a {
padding: 10px 15px;
font-weight: lighter;
font-size: 1.55vw;
text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
 
header nav ul li a:hover {
background: var(--primary-color);
color: var(--secondary-color);
border-radius: 15px;
text-shadow: none;
}

footer {
background: var(--primary-color);
width: 100%;
padding: 40px 35px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
 
footer h2 {
color: var(--secondary-color);
font-size: 30px;
margin: 0;
}
 
footer div {
line-height: 1.5;
text-align: right;
}
 
footer a {
color: var(--secondary-color);
}

.things h2 {
font-size: 38px;
color: var(--primary-color);
border-bottom: 3px solid;
padding-bottom: 20px;
text-align: center;
margin: 0 auto 35px auto;
width: 50%;
}
 
.hotels, .section-base {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 15px;
padding-bottom: 55px;
flex: 1;

}
 
.hotels img, .section-base img {
display: flex;
width: 250px;
height: 250px;
margin: auto;
margin-top: 25px;
padding-top: 15px;
padding-bottom: 15px;

}
 
.hotels img:hover, .section-base img:hover {
opacity: 0.5;
}
 
.hotels a, .section-base a {
font-size: 25px;

color: var(--secondary-color);


}
 
.things p {
line-height: 1.7;
color: var(--secondary-color);
width: 30%;
font-size: 20px;
margin: 0 auto;
text-align: center;
padding-top: 0px;
padding-bottom: 5px;

}
 
.hotels a:hover, .section-base a:hover {
color: var(--primary-color);
}
 
.contact-area {
text-align: center;
float: right;
}
 
.contact-area h1 {
    font-size: 12px;
}
 
.contact-area h2 {
    text-align: center;
}
 
.contact-form input, .contact-form textarea {
border: 1px solid #024e76;
display: inline;
padding: 7px 15px;
font-size: 16px;
color: #024e76;
width: 40%;
margin-bottom: 15px;
margin-top: 5px;
border-radius: 10px;
background-color: rgba(255, 255, 255, 0.75);
}
 
.contact-form input:focus, .contact-form textarea:focus {
background-color: rgba(255,255,255, 1);
}
 
 
/* .contact-form button {
width: 90%;
border: 2px;
background: var(--secondary-color);
color: var(--primary-color);
text-align: center;
padding: 15px 15px 15px 15px;
font-size: 16px;
border-radius: 10px;
} */
 
.contact-form button:hover {
color: var(--secondary-color);
background: var(--primary-color);
}
 
.contact-title {
font-size: 40px;
color: var(--primary-color);
padding-bottom: 20px;
text-align: center;
margin: auto auto 20px auto;
width: 50%;
border-bottom: 3px solid;
}
